# Terraform state files
*.tfstate
*.tfstate.backup
*.tfplan

# Terraform module files
.terraform/

# Terraform lock files (optional, but recommended)
.terraform.lock.hcl

# Local override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# IDE files (e.g., for VS Code)
.vscode/

# Sensitive files
*.pem  # Private keys or other sensitive files

# Ignore Terraform zip files
terraform.zip


# Terraform provider files
terraform/.terraform/

# Terraform state files
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/terraform.zip

# Large files
terraform/.terraform/providers/
