<!DOCTYPE html>
<html>
<head>
    <title>TechTitans App</title>
    <style>
        body {
            background-image: url('/static/background.jpg');
            background-size: cover;
            color: white;
            font-family: Arial, sans-serif;
            text-align: center;
        }
        h1 {
            margin-top: 50px;
        }
    </style>
</head>
<body>
    <h1>{{ group_name }} - {{ group_slogan }}</h1>
    <h2>Created by {{ name }}</h2>
    <p>Welcome to CLO835 Final Project!</p>
    <p>Database Status: {{ db_status }}</p>
</body>
</html>